#video-container {
  position: relative;
  top: 0;
  z-index: 0;
}
#video-overlay {
  height: calc(20% - 4px);
  width: calc(100% - 4px);
  position: absolute;
  top: calc(80% - 4px);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border: 2px;
  border-color: black;
  border-style: solid;
}
#doubtitles {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 80%;
  position: absolute;
  left: 10%;
  border: 2px;
  border-color: pink;
  border-style: solid;
}
.word-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
}
.word {
  font-size: 3.4vw;
  background: rgba(200,200,200,0.8);
  outline: none;
}
.word:hover + .tooltip {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 1s;
}
.tooltip {
  max-width: 160px;
  position: absolute;
  left: 50%;
  bottom: 150%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
  font-size: 18px;
  padding: 4px;
  border-radius: 48px;
  background-color: rgb(255,165,0);
  border: 2px;
  border-color: black;
  border-style: solid;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 1s;
  transition-delay: 0.1s;
}
.tooltip:focus {
  z-index: 3;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
  outline: none;
}
.doubtitles-navigation-btn {
  height: 100%;
  width: 10%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}
#doubtitles-previous-btn {
background-image: url('Assets/Icons/Previous.png');
}

#doubtitles-next-btn {
background-image: url('Assets/Icons/Next.png');
}
