body, html {
  box-sizing: border-box;
  overflow: hidden;
  background-color: black;
}

#Player {
  width: 100vw;
  height: 100vh;

  #video-container {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    #Video {
      height: auto;
      width: 100%;
    }
  }

  #Controls {
    height: auto;
    width: calc(100vw - 32px);
    padding: 4px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;

    .control-row {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 6px;

      .control-group {
      }

      & button {
        height: auto;
        width: auto;
        padding: none;
        background: none;
        border: none;
        outline: none;
        color: white;

        &:hover {
          color: purple;
        }

        & i {
          font-size: 36px;
        }
      }

      #Progress {
        height: 4px;
        width: 100%;
        transition: height 0.1s;

        appearance: none; //remove default chrome styling
        -webkit-appearance: none;

        &::-webkit-progress-bar {
          border-radius: 4px;
        }

        &::-webkit-progress-value {
          background-color: purple;
          border-radius: 4px;
        }

        &:hover {
          height: 6px;
        }
      }

      #load-btn {

      }
    }
  }
}
