body, html {
  box-sizing: border-box;
  overflow: hidden;
  background-color: black;
}

#Player {
  width: 100vw;
  height: 100vh;

  #video-container { // the issue is centering everything appropriately
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    #Video {
      height: auto;
      width: 100%;
      position: relative;
      top: 0;
      z-index: 0;
    }
  }

  .skip {
    height: 100%;
    width: 200px;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: white;
    opacity: 0;
  }

  #skip-forward {
    right: 0;
  }

  #Controls {
    height: auto;
    width: calc(100vw - 32px);
    padding: 4px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;

    .control-row {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 6px;

      .control-group {
        display: flex;
        align-items: center;

        & > * {
          margin-right: 8px;
        }
      }

      & button {
        height: 40px;
        width: 40px;
        padding: 0;
        background: none;
        border: none;
        outline: none;
        color: white;

        &:hover, &.enabled {
          color: purple;
        }

        & i {
          font-size: 36px;
        }
      }

      & progress, & input[type="range"] {
        appearance: none; //remove default chrome styling
        -webkit-appearance: none;
      }

      & #Progress {
        height: 4px;
        width: 100%;
        transition: height 0.1s;

        &:hover {
          height: 6px;
        }

        &::-webkit-progress-bar {
          border-radius: 4px;
        }

        &::-webkit-progress-value {
          background-color: purple;
          border-radius: 4px;
        }
      }

      & #volume-sldr {
        height: auto;
        width: 100px;

        $track-height: 8px;
        &::-webkit-slider-runnable-track {
          height: $track-height;
          width: 100%;
          background: white;
          border: none;
        }

        &::-webkit-slider-thumb {
          height: 20px;
          width: 20px;
          border: none;
          border-radius: 50%;
          background: purple;
          transform: translateY(-6px); //center the thumb


          -webkit-appearance: none;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
