body, html {
  box-sizing: border-box;
  overflow: hidden;
  background-color: black;
}

#content {
  width: 100vw;
  height: 100vh;

  #video-container {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    #Player {
      height: auto;
      width: 100%;
    }
  }

  #Controls {
    height: auto;
    width: 100vw;
    padding: 4px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;

    & button {
      height: auto;
      width: auto;
      padding: none;
      background: none;
      border: none;
      outline: none;
      color: white;

      &:hover {
        color: purple;
      }

      & i {
        font-size: 36px;
      }
    }

    #load-btn {

    }
  }
}
