@import '../styles';

body, html {
  box-sizing: border-box;
  overflow: hidden;
}

.theater-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

#video-container {
  width: auto;
  height: auto;
  position: relative;
  top: 0;
  z-index: 0;

  video {
    width: 100vw;
    height: auto;
  }

  #overlay-div {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 70%;
    z-index: 1;

    #doubtitles-div {
      height: 60%;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3.4vw;

      #slide-div {
        height: auto;
        width: auto;
        max-height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(white, 0.5);
        border-radius: 6px;
      }

      span {
        width: auto;
        height: auto;
        border-radius: 2px;
      }

      .word-container {
        width: auto;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        // outline: none;

        .word {
          padding: 1px;
          border: 1px solid transparent;
        }

        .tip-container {
          display: none;
          width: auto;
          height: auto;
          position: absolute;
          left: 50%;
          bottom: 150%;
          transform: translateX(-50%);
          z-index: 2;
          white-space: nowrap;
          padding: 8px;
          outline: none;

          textarea {
            display: block;
            font-size: 2.4vw;
            outline: none;
            resize: none;
            border: none;
            background: transparent;
            overflow-y: hidden;
          }

        }

        .nameTip {
          color: white;
          background-color: blue;
          border: 2px white solid;
        }

        .kanaTip {
          color: white;
          background-color: green;
          border: 2px white solid;
        }

        .fullTip {
          background-color: rgb(255,165,0);
          border: 2px black solid;

          textarea {
            font-size: 2vw;
          }

          .defArea {
            border-bottom: 1px solid black;
          }
        }
      }
    }

    #progress-div {
      display: inline-flex;
      align-items: center;
      width: calc(100% - 4px);
      height: 8%;
      bottom: 0;

      #progress-bar {
        width: 94%;
        margin-left: 3%;
        height: 50%;
        -webkit-appearance: none;
        appearance: none;
        transition: height 0.1s;

        &::-webkit-progress-bar {
          background-color: rgba(255, 255, 255, .25);
          border-radius: 4px;
        }

        &::-webkit-progress-value {
          // -webkit-appearance: none;
          // appearance: none;
          border-radius: 2px 8px 8px 2px;
          background: linear-gradient(to right,
          rgba(white, 0.5),
          rgba($my-purple, 0.5)
          ), linear-gradient(to top,
          black,
          white);
        }
      }

      #progress-handle {
        position: absolute;
        left: 0px;
        z-index: 5;
        pointer-events: none;
        border-radius: 50%;
        background-color: $my-purple;
      }
    }

    #controls-div {
      height: 25%;
      width: calc(100% - 4px);
    }

  }
}
