@import 'styles';

body, html {
  box-sizing: border-box;
}

#video-container {
  position: relative;
  top: 0;
  z-index: 0;

  #overlay-div {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 70%;
    z-index: 1;

    #doubtitles-div {
      height: auto;
      width: auto;
      max-height: 60%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(white, 0.8);
      font-size: 3.4vw;

      span {
        width: auto;
        height: auto;
        margin-right: 2px;
        border-radius: 2px;
      }

      .word-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        background-color: rgba(white, 0.8);
        outline: none;

        .word {
          padding: 2px;

          &:hover + .myTooltip {
            opacity: 1;
            visibility: visible;
            transition: opacity 1s, visibility 1s;
          }
        }

        .myTooltip {
          max-width: 160px;
          position: absolute;
          left: 50%;
          bottom: 150%;
          transform: translateX(-50%);
          z-index: 2;
          text-align: center;
          font-size: 18px;
          padding: 4px;
          border-radius: 48px;
          background-color: rgb(255,165,0);
          border: 2px;
          border-color: black;
          border-style: solid;
          opacity: 0;
          visibility: hidden;
          transition: opacity 2s, visibility 1s;
          transition-delay: 0.1s;

          &:focus {
            z-index: 3;
            opacity: 1;
            visibility: visible;
            transition: opacity 1s;
            outline: none;
          }
        }
      }
    }

    #progress-div {
      display: inline-flex;
      align-items: center;
      width: calc(100% - 4px);
      height: 15%;
      bottom: 0;

      &:hover progress{
        -webkit-appearance: none;
        appearance: none;
        height: 50%;
        transition: height 0.1s;
      }

      #progress-bar {
        width: 100%;
        height: 25%;
        -webkit-appearance: none;
        appearance: none;
        transition: height 0.1s;
        position: relative;
        top: 25%;

        &:hover {
        }

        &::-webkit-progress-bar {
          background-color: rgba(255, 255, 255, .25);
          border-radius: 2px;
        }

        &::-webkit-progress-value {
          -webkit-appearance: none;
          appearance: none;
          border-radius: 16px;
          background-image:
          -webkit-linear-gradient(-45deg,
          transparent 33%, rgba(0, 0, 0, .1) 33%,
          rgba(0,0, 0, .1) 66%, transparent 66%),
          -webkit-linear-gradient(top,
          rgba(255, 255, 255, .25),
          rgba(0, 0, 0, .25)),
          -webkit-linear-gradient(left, #09c, #f44);
        }
      }

      #progress-toki {
        position: absolute;
        top: 63.75%;
        left: 0px;
        z-index: 5;
        width: 2%;
        height: auto;
        pointer-events: none;
      }
    }

    #controls-div {
      height: 25%;
      width: calc(100% - 4px);
    }
  }
}
